# Ignore all log files
*.log

# Ignore temporary files
temp/
*.tmp

# Ignore compiled files
*.class
*.o
*.exe

# Ignore environment files
.env

# Ignore IDE specific files
.idea/
.vscode/

# Ignore model files
contrastive_model.pth
svm_model.pkl
nn_model_reliance.pth
nn_model_infosys.pth
# Ignore environment directory
env/

# Ignore CSV files
features.csv
